<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading" *ngIf="type == 1">Таблица для определения значения целевого прогнозного показателя "Доля водозоборных сооружений, оснащенных системами учета воды"</div>
    <div class="panel-heading" *ngIf="type == 2">Таблица для определения значения целевого прогнозного показателя "Доля очистных сооружений, оснащенных средствами учета и контроля качества сбрасываемых сточных вод" (учет объема сброса)</div>
    <div class="panel-heading" *ngIf="type == 3">Таблица для определения значения целевого прогнозного показателя "Доля очистных сооружений, оснащенных средствами учета и контроля качества сбрасываемых сточных вод" (учет качества сброса)энергии</div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel-body well" >
    <div class="col-md-12 well-sm">
      <div class="col-md-6">
        <label class="control-label" >Период</label>
        <div class="form-group-sm input-group">
          <span class="input-group-btn"></span>
          <input type="number" min="1950" max="2150" class="form-control w2" style="width: 75px !important;" placeholder="Год" [(ngModel)]="year">
        </div>
      </div>
    </div>
    <div class="col-md-12 well-sm">
      <div class="col-md-6">
        <div class="form-group-sm">
          <label class="control-label" for="authOrg"> БВУ:</label>
          <select multiple size="3" class="form-control" id="authOrg"
                  [(ngModel)]="authOrgId">
            <option *ngFor="let org of authOrgs" (click)="rfSubFilter()" value="{{org.uid}}" title="{{org.name}}">
              {{org.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group-sm">
          <label class="control-label" for="rfsubject">Субъект РФ</label>
          <select multiple size="3" class="form-control" id="rfsubject"
                  [(ngModel)]="rfSubjectIds">
            <option *ngFor="let subject of rfSubjects" value="{{subject.uid}}" title="{{subject.name}}">
              {{subject.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <ul>
        <li>Выбранные параметры:
          <ul>
            <li *ngIf="(quarter != null && quarter != '') || (year!='' && year!=null)">Период:
              <ul>
                <li>{{year}} год</li>
              </ul>
            </li>
            <li *ngIf="rfSubjectIds.length != 0">Субъект РФ:
              <ul *ngFor="let id of rfSubjectIds">
                <li>{{findName(rfSubjects, id).name}}</li>
              </ul>
            </li>
            <li *ngIf="authOrgId.length != 0">Структурное подразделение:
              <ul *ngFor="let id of authOrgId">
                <li>{{findName(authOrgs, id).name}}</li>
              </ul>
            </li>

          </ul>
        </li>
      </ul>
      <hr>
      <div class="col-md-12">
        <button (click)="loadData()" [disabled]="disSearch" class="btn btn-primary">Сформировать отчет</button>
        <button (click)="clearForm()" class="btn btn-warning">Очистить фильтры</button>
        <button [disabled]="report.length==0" (click)="exportToExcel()" class="btn btn-success"><i class="glyphicon glyphicon-list-alt"></i> Экспорт в Excel</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 text-center" *ngIf="disSearch" style="font-size: 32px; color: dimgrey; padding-top: 64px">
  Загрузка
</div>
<br />
<div *ngIf="!disSearch && report.length > 0">
  <div class="container-fluid" id="dataTable">
    <table border='1' class="table table-bordered table-condensed table-responsive">
      <thead>
        <tr>
          <th rowspan="2">№ п/п</th>
          <th rowspan="2">Наименование водопользователя</th>
          <th rowspan="2">Номер документа</th>
          <th rowspan="2">Водозаборное сооружение, номер водозабора</th>
          <th colspan="2">Наличие средств измерений</th>
          <th colspan="2" *ngIf="type != 3">Наличие согласования соответствующего территориального органа Росводресурсов в случае отсутствия технической возможности установки средств измерений</th>
          <th [colSpan]="years.length">Планируется установка средств измерений</th>
        </tr>
        <tr>
          <th>оборудовано</th>
          <th>не оборудовано</th>
          <th *ngIf="type != 3">согласовано</th>
          <th *ngIf="type != 3">не согласовано</th>
          <ng-container *ngIf="years.length > 0"><th *ngFor="let yr of years">{{yr}}</th></ng-container>
          <ng-container *ngIf="years.length == 0"><th>-</th></ng-container>
        </tr>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th *ngIf="type != 3">7</th>
          <th *ngIf="type != 3">8</th>
          <ng-container *ngIf="years.length > 0"><th *ngFor="let yr of years; let i = index;">{{type != 3 ? i+9 : i+6}}</th></ng-container>
          <ng-container *ngIf="years.length == 0"><th>{{type != 3 ? 9 : 6}}</th></ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of report; let i = index">
            <tr>
              <td>{{i+1}}</td>
              <td>{{item.wuName}}</td>
              <td>{{item.docNum}}</td>
              <td>{{item.name}}</td>
              <td><a *ngIf="item.hasDevice" class="glyphicon glyphicon-ok"><span style="color: rgba(0, 0, 0, 0)">1</span></a></td>
              <td><a *ngIf="!item.hasDevice" class="glyphicon glyphicon-ok"><span style="color: rgba(0, 0, 0, 0)">1</span></a></td>
              <td><a *ngIf="item.hasAgreement && item.hasAgreement != null" class="glyphicon glyphicon-ok"><span style="color: rgba(0, 0, 0, 0)">1</span></a></td>
              <td><a *ngIf="!item.hasAgreement && item.hasAgreement != null" class="glyphicon glyphicon-ok"><span style="color: rgba(0, 0, 0, 0)">1</span></a></td>
              <ng-container *ngIf="years.length > 0"><td *ngFor="let yr of years; let i = index;"><a *ngIf="yr == item.installYear" class="glyphicon glyphicon-ok"><span style="color: rgba(0, 0, 0, 0)">1</span></a></td></ng-container>
              <ng-container *ngIf="years.length == 0"><td></td></ng-container>
            </tr>
        </ng-container>
      <tr>
        <td>Итого</td>
        <td>{{total.wus.length}}</td>
        <td>{{total.docNums.length}}</td>
        <td>{{total.names.length}}</td>
        <td>{{total.hasDevices}}</td>
        <td>{{total.noDevices}}</td>
        <td>{{total.hasAgreements}}</td>
        <td>{{total.noAgreements}}</td>
        <ng-container *ngIf="years.length > 0"><td *ngFor="let yr of years">{{total.years.get(yr)}}</td></ng-container>
        <ng-container *ngIf="years.length == 0"><td>0</td></ng-container>
      </tr>
        <tr>
        <td colspan="8">Значение ЦПП на (гр.5+гр.9)/(гр.4-гр.7)</td>
          <ng-container *ngIf="years.length > 0"><td *ngFor="let yr of years">{{superFix(count(yr), 4)*100}}%</td></ng-container>
          <ng-container *ngIf="years.length == 0"><td>{{superFix(count(0), 4)*100}}%</td></ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf='!disSearch && report.length==0' class="row">
  <div style="text-align: left;" class="col-md-12">
    <div class="col-md-12" style="font-size:16px;font-weight: bold">Данных по выбранным фильтрам не найдено!</div>
  </div>
</div>
